Source: syndie
Section: java
Priority: extra
Maintainer: Kill Your TV <killyourtv@i2pmail.org>
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: ant, openjdk-7-jdk, libswt-gtk-3-java, libhsqldb-java, i2p-router | i2p
Standards-Version: 3.9.3
Homepage: http://syndie.i2p2.de

Package: syndie
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${java:Depends},
 openjdk-9-jre | openjdk-8-jre | openjdk-7-jre | default-jre | java9-runtime | java8-runtime | java7-runtime,
 libswt-gtk-3-java, libhsqldb-java, i2p-router | i2p
Suggests: tor, freenet
Enhances: tor, i2p-router, i2p
Description: Syndie anonymous distributed forums
 Syndie is java-based open source system for operating secure distributed
 forums.
 .
 Some of the features include:
  - Decentralized forums
  - Private forums
  - Offline browsing
  - Secure reader
 .
 At its core, Syndie is a content layer with a defined file format and
 cryptographic algorithms.
