#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	ant jar -Dlib.dir=/usr/share/java -Di2p.jar=/usr/share/i2p/lib/i2p.jar

override_dh_auto_clean:
	dh_clean
	ant clean
	rm -f $(CURDIR)/syndie.jar

override_dh_install:
	dh_install
	install -d $(CURDIR)/debian/syndie/usr/bin
	install -m 755 $(CURDIR)/debian/syndie.sh $(CURDIR)/debian/syndie/usr/bin/syndie

override_dh_installdocs:
	dh_installdocs
	mv $(CURDIR)/debian/syndie/usr/share/doc/syndie/web \
		$(CURDIR)/debian/syndie/usr/share/doc/syndie/html
