[Desktop Entry]
Version=1.0
Name=Syndie - Secure Distributed Forums (alternative UI)
Comment=Distributed forum/blog reader
Exec=syndie-desktop
Icon=syndie
Terminal=false
Type=Application
Categories=Network;
StartupNotify=true;
