#
# syndie has a lot of System.exit() calls, so
# until these are patched, just run in a separate JVM
#
clientApp.0.main=net.i2p.util.ShellCommand
clientApp.0.args=java -Duser.home=$PLUGIN -cp $I2P/lib/i2p.jar;$PLUGIN/lib/hsqldb.jar;$PLUGIN/lib/swt.jar;$PLUGIN/lib/syndie.jar syndie.gui.SWTUI
clientApp.0.delay=20
